@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --main-color: #1d1e20;
    --main-background: #e6e7e9;
}


body{
    background-color: #e6e7e9;
    
}

nav{
    /* background-color: #333; */
    background-color: #e6e7e9;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh;
    /* border-radius: 20px 20px 0px 0px; */
    border-top:1px solid grey ;

}

.center-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 5px solid black; */
    width: 100%;

}

section{
    min-height: 100vh;
    position: relative;
}

.page{
    min-height: 100vh;
    border: 2px solid black;
    width: 100%;
}

#cta{
    /* border: 5px solid black; */
    min-height: 76vh;
    justify-content: space-around;
}

.horizonatal-button-group{
    width: 100%;
    justify-content: space-around;
    height: 17vh;
}

#dashboard{
    grid-auto-rows: minmax(2rem,auto);
    grid-template-rows: 1rem 4rem 12rem 5rem 1rem ; /* change the height of each row */
    /* height: 200vh; */
    overflow-x: hidden;
}

select{
    background-color: var(--main-background);
}